<div class="">
    <div class="" style="margin-top: 80px;">
        <div class="container" style="margin-right: 50px;">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem; border-color: transparent; margin-top: 35px;">
                        <img class="card-img-top" src="../../assets/images/cocacolalog.png" alt="Card image cap">
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem; border-color: transparent;">
                        <img class="card-img-top" src="../../assets/images/donatotalog.jpg" alt="Card image cap">
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem; margin-top: 30px;">
                        <img class="card-img-top" src="../../assets/images/julionlogo.jpg" alt="Card image cap">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="" style="margin-top: 80px;">
        <div class="container" style="margin-right: 50px;">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem; border-color: transparent; margin-top: 35px;">
                        <img class="card-img-top" src="../../assets/images/utslogo.png" alt="Card image cap">
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem; border-color: transparent;">
                        <img class="card-img-top" src="../../assets/images/autozonelog.jpg" alt="Card image cap">
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem; margin-top: 30px;  border-color: transparent;">
                        <img class="card-img-top" src="../../assets/images/ulsalogo.png" alt="Card image cap">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>