<div class="">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel"
    style="margin-top: 60px; max-height: 583px; overflow: hidden;">
    <div class="carousel-inner">

      <div class="carousel-item active" data-bs-interval="5000">
        <img src="../../assets/images/food-safety_children.tmb-1200v.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="../../assets/images/fotonoticia_20160303082936-883739_9999.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="../../assets/images/imagen_rrss_menus_escolares.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <div class="container text-center"
      style="color: white; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <h1>Tu texto estático</h1>
      <p>Otra información estática</p>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<hr>
<div class="d-flex justify-content between">
  <div class="flex justify-content-center m-3">
    <p-card header="Vision" [style]="{ width: 'auto' }">
      <ng-template pTemplate="header">
        <p class="text-center" style="font-size: 50px;"><strong>67</strong></p>
      </ng-template>
      <p>
        Niños que apoyamos hoy en dia
      </p>
      <ng-template pTemplate="footer">
      </ng-template>
    </p-card>
  </div>
  <div class="flex justify-content-center m-3">
    <p-card header="Vision" [style]="{ width: 'auto' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
      </ng-template>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
        deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
        neque
        quas!
      </p>
      <ng-template pTemplate="footer">
      </ng-template>
    </p-card>
  </div>
  <div class="flex justify-content-center m-3">
    <p-card header="Mision" [style]="{ width: 'auto' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
      </ng-template>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
        deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
        neque
        quas!
      </p>
      <ng-template pTemplate="footer">
      </ng-template>
    </p-card>
  </div>
</div>

<hr>
<div class="container">
  <div class="row">
    <div class="col-6 text-center">
      <p style="color: #495057; font-size: 30px;"><strong>Mision</strong></p>
      <p style="font-size: medium;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero 
        asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    </div>
    <div class="col-6 text-center">
      <p style="color: #495057; font-size: 30px;"><strong>Vision</strong></p>
      <p style="font-size: medium;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero 
        asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    </div>
  </div>
</div>
<hr>