.botones
{
    margin-left: 15px;
    padding: 10px;
}
.ml-2
{
    padding-left: 10px;
}
.onetwo
{
    margin-left: 10px;
    width: 300px;
}
.threefour
{
    margin-top: -156px;
    margin-left: 310px;
    width: 300px;
}
.five
{
    margin-top: -20px;
    margin-left: 10px;
    width: 600px;
}
.p-inputgroup
{
    padding: 10px;
}
.paypalogo
{
    margin-left: 10px;
    width: 30px;
}
.creditlogo
{
    margin-left: 10px;
    width: 30px;
}
.comidados
{
    margin-left: 300px;
    margin-top: -452px;
}
.comidatres
{
    margin-left: 600px;
    margin-top: -452px;
}
.quekas
{
    height: 215px;
}